.jumbotron {
  padding-top: 6rem;
  background-color: rgb(178, 240, 170);
}

#registrasi {
  background-color: rgb(178, 240, 178);
}

#footer {
  background-color: rgb(178, 240, 178);
}

section {
  padding-top: 6rem;
}

.tentang {
  background-color: rgb(178, 240, 178);
}

.navbar-brand {
  font-size: 2rem;
}
